
body{
  margin: 0;
}
hr{
  border-style: none;
  border-width: 6px;
  margin-bottom: 0;
  margin-top: 0;
  
}
h1{
  color:rgb(26, 22, 22);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px #ffe999;

}
p{
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}
h3{
  margin-top: 0;
  margin-bottom:0;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #241738;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #806232;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}
ul{
  color:#302b29;
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}
table{
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom:30px;
  margin:0 auto 0 auto;
}


/*****************CLASS SELECTORS**************/

#eduhead, #hobb ,#exphead, #skillhead{
  color:#2E1114;
  font-family: 'Advent Pro', sans-serif;
}
.intro{
  background-color:#FBE8A6;
  padding-left: 180px;
  padding-right: 150px;
  
}

.htwo{
  border-color:#FBE8A6;
  border-bottom-style: dotted;
  width:50%;
}
.aboutme{
  color: #302b29;
  font-weight:600;
}
#eduhead{
  font-weight: 700;
  text-shadow: 1px 1px rgb(235, 226, 255);
  padding-top:30px
}
.edu{
  background-color:#D9D7F1;
  
  padding: 0px 20px 0 20px;
  margin:0 auto 0 auto;
}
.edudetails{
  font-size: 20px;
  color:#302b29;
}
.hfour{
  border-color: #D9D7F1;
  border-bottom-style: dotted;
  width:50%;
}
#skillhead{
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-shadow: 1px 1px rgb(171, 223, 223);
  font-weight: 600;
  
}

#hobb{
  font-size:40px ;
}
.hobbies{
  background-color:#D2FDFF;
  text-align: center;
  padding: 0px 0px 0px 10px;
  color:#000000;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px rgb(207, 183, 183);
}
.hfive{
  border-color: #B4DFE5;
  border-bottom-style: dotted;
  width:50%;
}
#exphead{
  font-weight:700;
  text-shadow: 1px 1px #98dae4;
  padding-top: 60px;
  padding-bottom: 40px;
}
th{
  font-size: 25px;
  font-weight:500;
  padding-bottom: 30px;
}
.experience{
  background-color:#B4DFE5;
  padding-top: 0px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  
}
#exptable{
  color:#302b29;
}
.copyright{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  background-color:rgba(3, 3, 3, 0.986);
  color:#cacaca;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}