body{
    margin:0;
    margin-top:0;
}
h1{
  color:#393636;
    margin:0;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    padding-top: 50px;
    text-shadow: 1px 1px rgb(137, 212, 218);
}

#linktable{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    padding-bottom:30px;
    padding-top: 0px;
}
a:link {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #3a240034;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(0, 136, 199);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
.links{
    background-image: linear-gradient(rgba(124, 208, 214, 0.864),#B4DFE5, #D2FDFF);
}
#form{
    
    background-color:#D2FDFF;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    text-align: center;

}
#myform{
  padding-top: 50px;
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.return{
  color: #648ca4;
  margin:0 auto;
  font-weight:600;
  display: table;
}
.copyright{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  background-color:rgba(62, 62, 62, 0.986);
  color:#cacaca;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.submit-button {
  background: #4b5257;
  background-image: -webkit-linear-gradient(top, #4b5257, #1e2930);
  background-image: -moz-linear-gradient(top, #4b5257, #1e2930);
  background-image: -ms-linear-gradient(top, #4b5257, #1e2930);
  background-image: -o-linear-gradient(top, #4b5257, #1e2930);
  background-image: linear-gradient(to bottom, #4b5257, #1e2930);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #cedfe2 2px;
  text-decoration: none;
}

.submit-button:hover {
  background: #1b2429;
  background-image: -webkit-linear-gradient(top, #1b2429, #496578);
  background-image: -moz-linear-gradient(top, #1b2429, #496578);
  background-image: -ms-linear-gradient(top, #1b2429, #496578);
  background-image: -o-linear-gradient(top, #1b2429, #496578);
  background-image: linear-gradient(to bottom, #1b2429, #496578);
  text-decoration: none;
}
